body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login-container {
    padding: 70px;
    width: 40%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.organizate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

h1 {
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #e91e63;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #c2185b;
}

.navbar {
  background-color: #e91e63;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
    font-family: "Pacifico";
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

.title {
    font-family: "Times New Roman";
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    margin-top: 30px;
}

.image-container {
  position: relative;
  margin: 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 10px 10px 22px rgba(172, 6, 99, 0.8);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
